html,button,input,select,textarea {color: #222;}
body {font-size: 1em;line-height: 1.4; margin: 0 auto;font: normal normal 20px 'Courier New', Courier, FreeMono, monospace;overflow: hidden}
::-moz-selection {background: #EF382B;text-shadow: none;}
::selection {background: #EF382B;text-shadow: none;}
img {vertical-align: middle;}
.chromeframe {margin: 0.2em 0;background: #ccc;color: #000;padding: 0.2em 0;}
.clearfix:before,.clearfix:after {content: " "; /* 1 */display: table; /* 2 */}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}

body {
    /*background: url(../img/bkghome.jpg) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bkghome.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bkghome.jpg', sizingMethod='scale')";
    height: 950px;
}
#topbar{
    width: 900px;
    display: block;
    height: 73px;
    position: relative;
    top: 20px;
    margin: 0 auto;
    /*border-bottom: 1px solid #ccc;*/
}
#topbar .contacto{
    float: right;
    font-family: 'Raleway', serif;
    color: #000;
    margin: 48px 0 0 0 ;
    line-height: 16px;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
}
#logo {
    float: left;
    background: url("../img/logosmall.png") 0 0 no-repeat;
    height: 80px;
    position: relative;
    margin: 0;
    width: 171px;
}
#bar{
    width: 100%;
    height: 25px;
    background-color: #000;
    position: relative;
    margin: 550px auto 0;
}
#contacto{
    position: relative;
    margin: 0 auto;
    width: 337px;
    color: #eee;
    -webkit-transition: all 500ms ease; -moz-transition: all 500ms ease; -ms-transition: all 500ms ease; -o-transition: all 500ms ease; transition: all 500ms ease;
}
#contacto a{
    display: block;
    float: left;
    font-family: 'Raleway', serif;
    color: #eee;
    margin: 3px 10px 0 0;
    font-style: normal;
    font-size: 17px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    -webkit-transition: all 300ms ease; -moz-transition: all 300ms ease; -ms-transition: all 300ms ease; -o-transition: all 300ms ease; transition: all 300ms ease;
}
#contacto a:hover{
    color: #ffed00;
}

/* Easy Slider */
#slidercontainer{
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -450px;
    -webkit-box-shadow: 0 10px 6px -6px rgba(0,0,0,0.4);
       -moz-box-shadow: 0 10px 6px -6px rgba(0,0,0,0.4);
            box-shadow: 0 10px 6px -6px rgba(0,0,0,0.4);
}
#slider ul, #slider li,
#slider2 ul, #slider2 li{
    margin:0;
    padding:0;
    list-style:none;
    }
#slider2{margin-top:1em;}
#slider li, #slider2 li{
    /*
        define width and height of list item (slide)
        entire slider area will adjust according to the parameters provided here
    */
    width: 900px;
    height: 480px;
    overflow:hidden;
    position: relative;
    }
#prevBtn, #nextBtn,
#slider1next, #slider1prev{
    display:block;
    width: 40px;
    height: 60px;
    position:absolute;
    left: -27px;
    top: 215px;
    z-index: 1000;
    text-indent: -9999px;
    opacity: 0.5;
    }
#nextBtn, #slider1next{
    left: 915px;
    }
#prevBtn a, #nextBtn a,
#slider1next a, #slider1prev a{
    display:block;
    position:relative;
    width:15px;
    height:23px;
    background:url('../img/back_small.png') no-repeat 0 0;
    }
#nextBtn a, #slider1next a{
    background:url('../img/forward_small.png') no-repeat 0 0;
    }

#slider li div {
    left: 0px;
    right: 0px;
    top: 480px;
    position: absolute;
    height: 150px;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    padding: 0 0 20px 0;
}
#slider li div h2{
    font-family: 'Raleway', serif;
    color: #eee;
    margin: 20px 0px 10px 20px;
    font-style: normal;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
}
#slider li div p{
    font-family: 'Raleway', serif;
    color: #eee;
    margin: 3px 20px 0px 20px;
    line-height: 16px;
    font-style: normal;
    font-size: 13px;
    font-weight: normal;
    text-decoration: none;

}
