html,button,input,select,textarea {color: #222;}
body {font-size: 1em;line-height: 1.4; margin: 0 auto;font: normal normal 20px 'Courier New', Courier, FreeMono, monospace;overflow: hidden}
::-moz-selection {background: #EF382B;text-shadow: none;}
::selection {background: #EF382B;text-shadow: none;}
img {vertical-align: middle;}
.chromeframe {margin: 0.2em 0;background: #ccc;color: #000;padding: 0.2em 0;}
.clearfix:before,.clearfix:after {content: " "; /* 1 */display: table; /* 2 */}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}

body {
    background: url(../img/bkghome.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bkghome.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bkghome.jpg', sizingMethod='scale')";
    height: 950px;
}
#linkgal{
    width: 100%;
    height: 75%;
    position: absolute;
    z-index: 1000;
}
#linkgal:hover{cursor: pointer;}
#linkgal a{
    display: block;
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -50px;
    padding: 7px 0 0 30px;
    text-decoration: none;
    opacity: 0;
    display: none;
    -webkit-transition: all 500ms ease; -moz-transition: all 500ms ease; -ms-transition: all 500ms ease; -o-transition: all 500ms ease; transition: all 500ms ease;
}
#linkgal a:hover{
    color: #ffed00;
}
#logo {
    width: 411px;
    display: block;
    background: url("../img/logo.png") 0 0 no-repeat;
    height: 116px;
    position: absolute;
    bottom: 160px;
    right: -500px;
    right: 30px;
    -webkit-transition: all 500ms ease; -moz-transition: all 500ms ease; -ms-transition: all 500ms ease; -o-transition: all 500ms ease; transition: all 500ms ease;
}
#bar{
    width: 100%;
    height: 25px;
    background-color: #000;
    position: absolute;
    bottom: 80px;
}
#entrar{
    float: left;
    margin: 0px 0 0 -100px;
    margin: 0px 0 0 50px;
    -webkit-transition: all 500ms ease; -moz-transition: all 500ms ease; -ms-transition: all 500ms ease; -o-transition: all 500ms ease; transition: all 500ms ease;

}
#entrar a{
    display: block;
    width: 73px;
    height: 25px;
    font-family: 'Courier New', Courier, FreeMono, monospace;
    color: #eee;
    font-style: normal;
    font-size: 23px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    -webkit-transition: all 500ms ease; -moz-transition: all 500ms ease; -ms-transition: all 500ms ease; -o-transition: all 500ms ease; transition: all 500ms ease;

}
#entrar a:hover{
    color: #ffed00;
}
#contacto{
    float: right;
    margin: -6px -200px 0 0px;
    margin: -6px 50px 0 0px;
    color: #eee;
    -webkit-transition: all 500ms ease; -moz-transition: all 500ms ease; -ms-transition: all 500ms ease; -o-transition: all 500ms ease; transition: all 500ms ease;
}
#contacto a{
    display: block;
    float: left;
    width: 40px;
    height: 41px;
    margin-right: 5px;
    -webkit-transition: all 300ms ease; -moz-transition: all 300ms ease; -ms-transition: all 300ms ease; -o-transition: all 300ms ease; transition: all 300ms ease;
}
a.envelope{background: url(../img/envelope.png) 0 0 no-repeat;}
a.facebook{background: url(../img/facebook.png) 0 0 no-repeat;}
a.blogger{background: url(../img/blogger.png) 0 0 no-repeat;}
a.phone{background: url(../img/phone.png) 0 0 no-repeat;}
a.instagram{background: url(../img/instagram.png) 0 0 no-repeat;}
a.about{background: url(../img/about.png) 0 0 no-repeat;}

a.envelope:hover{background: url(../img/envelope_hover.png) 0 0 no-repeat;}
a.facebook:hover{background: url(../img/facebook_hover.png) 0 0 no-repeat;}
a.blogger:hover{background: url(../img/blogger_hover.png) 0 0 no-repeat;}
a.phone:hover{background: url(../img/phone_hover.png) 0 0 no-repeat;}
a.instagram:hover{background: url(../img/instagram_hover.png) 0 0 no-repeat;}
a.about:hover{background: url(../img/about_hover.png) 0 0 no-repeat;}

/* Small screen */
@media (max-width : 500px), (max-device-width : 500px) {
    /* Styles */
    #logo {
        width: 205px;
        display: block;
        background: url("../img/logo.png") 0 0 no-repeat;
        background-size: 205px  58px;
        height: 58px;
        bottom: 160px;
        right: 20px;
    }
}
