* { margin:0; padding:0; }
body { background:#fff; height:100%; }
img { border:none; }

#supersized-loader { position:absolute; top:50%; left:50%; z-index:0; width:128px; height:128px; margin:-64px 0 0 -64px; text-indent:-999em; background:url(../img/progress.gif) no-repeat center center;}

#supersized {  display:block; position:fixed; left:0; top:0; overflow:hidden; z-index:-999; height:100%; width:100%; }
#supersized img { width:auto; height:auto; position:relative; display:none; outline:none; border:none; }
#supersized.speed img { -ms-interpolation-mode:nearest-neighbor; image-rendering: -moz-crisp-edges; }	/*Speed*/
#supersized.quality img { -ms-interpolation-mode:bicubic; image-rendering: optimizeQuality; }			/*Quality*/

#supersized li { display:block; list-style:none; z-index:-30; position:fixed; overflow:hidden; top:0; left:0; width:100%; height:100%; background:#fff; }
#supersized a { width:100%; height:100%; display:block; }
#supersized li.prevslide { z-index:-20; }
#supersized li.activeslide { z-index:-10; }
#supersized li.image-loading { background:#fff url(../img/progress.gif) no-repeat center center; width:100%; height:100%; }
#supersized li.image-loading img{ visibility:hidden; }
#supersized li.prevslide img, #supersized li.activeslide img{ display:inline; }

#logo{
	position: absolute;
	left: 0px;
	top: 0px;
	display: block;
	width: 200px;
	height: 200px;
	-webkit-transition: all 400ms ease; -moz-transition: all 400ms ease; -ms-transition: all 400ms ease; -o-transition: all 400ms ease; transition: all 400ms ease;
}
#circlelogo{
	width: 30px;
	height: 30px;
	margin: 30px 0 0 30px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	background-color: yellow;
	-webkit-transition: all 400ms ease; -moz-transition: all 400ms ease; -ms-transition: all 400ms ease; -o-transition: all 400ms ease; transition: all 400ms ease;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	border: 2px solid #000;
}
/*#circlelogo span{
	opacity: 0;
	display: block;
	margin: 2px 0 0 12px;
	font: normal normal 20px Verdana, sans-serif;
	-webkit-transition: all 400ms ease; -moz-transition: all 400ms ease; -ms-transition: all 400ms ease; -o-transition: all 400ms ease; transition: all 400ms ease;
}
#circlelogo:hover span{
	opacity: 1;
	cursor: pointer;
}*/
#circlelogo:hover{
	cursor: pointer;
}
#close{
	position: absolute;
	display: block;
	right: 30px;
	top: 30px;
	width: 40px;
	height: 40px;
	background: url(../img/close.png) 0 0 no-repeat;

	-webkit-transition: all 400ms ease; -moz-transition: all 400ms ease; -ms-transition: all 400ms ease; -o-transition: all 400ms ease; transition: all 400ms ease;
}
#close:hover{
	opacity: 0.6;
}
#play-button{
	position: absolute;
	opacity: 1;
	display: block;
	right: 45%;
	right: 30px;
	bottom: 30px;
	width: 40px;
	height: 40px;
	-webkit-transition: all 400ms ease; -moz-transition: all 400ms ease; -ms-transition: all 400ms ease; -o-transition: all 400ms ease; transition: all 400ms ease;
}
#play-button:hover{
	opacity: 0.6;
	cursor: pointer;
}
/* Small screen */
@media (max-width : 500px), (max-device-width : 500px) {
    #close{
		right: 15px;
		top: 15px;
		width: 15px;
		height: 15px;
		background: url(../img/close_small.png) 0 0 no-repeat;
	}
	#logo{
		display: none;
	}
}
