html,button,input,select,textarea {color: #222;background-color: #fff;}
body {font-size: 1em;line-height: 1.4; background-color: #fff;margin: 0 auto;font: normal normal 20px Verdana, sans-serif;}
::-moz-selection {background: #EF382B;text-shadow: none;}
::selection {background: #EF382B;text-shadow: none;}
img {vertical-align: middle;}
.chromeframe {margin: 0.2em 0;background: #ccc;color: #000;padding: 0.2em 0;}
.clearfix:before,.clearfix:after {content: " "; /* 1 */display: table; /* 2 */}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}

#logo {
    width: 500px;
    background: url(../img/logo.png) 0 0 no-repeat;
    height: 135px;
    margin: 100px auto 20px auto;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #fefefe;
    background-color: #EF382B;
}
.blackline{
    width: 100%;
    background-color: #000;
    position: relative;
    float: left;
    height: 18px;
    border-top: 1px solid #4b4b4b;
}
.blacklineinner{
    width: 500px;
    background: url(../img/blacktag.png) no-repeat 0 0;
    margin: 0 auto;
    height: 18px;
}
.mailaddress{
    width: 100%;
    margin: 40px auto 0px auto;
    color: #EF382B;
    font: normal normal 15px Georgia, Georgia, serif;
    text-align: center;
     height: 20px;
     float: left;
}
